!!!
%html
	%head
		%title Alice Jobs
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
		= csrf_meta_tags
		<meta name=viewport content="width=device-width, initial-scale=1">
	%body
		%nav.navbar.navbar-default
			.container-fluid
				.navbar-brand
					= link_to "Alice Jobs", root_path

				%ul.nav.navbar-nav
					%li= link_to "All Jobs", jobs_path
				%ul.nav.navbar-nav.collapse.navbar-collapse
					- Category.all.each do |category|
						%li= link_to category.name, jobs_path(category: category.name)

				.collapse.navbar-collapse
					-if user_signed_in?
						= link_to "Log out", destroy_user_session_path, method: :delete, class: 'navbar-text navbar-right navbar-link'
						= link_to "New Job", new_job_path, class: 'navbar-text navbar-right navbar-link', data: {no_turbolink: true}
						= link_to "My Jobs", "", class: 'navbar-text navbar-right navbar-link', data: {no_turbolink: true}
					-else
						= link_to "Sign up", new_user_registration_path, class: 'navbar-text navbar-right navbar-link'
						= link_to "Log in", new_user_session_path, class: 'navbar-text navbar-right navbar-link'
